# Python
__pycache__/
*.pyc
.venv/

# Environment
.env
backend/.env
frontend/.env

# Databases
*.db
backend/*.db

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/